/*=================
Main CSS
=================*/

/* turquiose 4bb3aa */
/* light-grey f7f7f7 */
/* grey bbbbbb */
/* white ffffff */
/* black 141414 */
/* dark-blue 222e43 */

* {
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', Arial, sans-serif;
}

body {
    padding-left:50px;
    overflow-x:hidden;
}

header, footer {
    padding:160px 90px;
    background-size:cover;
    background-position:center center;
}
header { background-image:url('../img/header.jpg'); }
footer { background-image:url('../img/footer.jpg'); }
.section { padding:90px; }
.section-primary {}
.section-secondary { background-color:#000000; }
.section-default { background-color:#ffffff; }

.section-right { padding-right:0px; }

/* Blocks */

.block {
    width:100%;
    padding-bottom:100%;
    position:relative;
    background-size:cover;
    background-position:center center;
}

.block-default { background-color:#cccccc; }
.block-primary { background-color:#222e43; }

.block-inner {
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    padding:15px;
    color:#ffffff;
    line-height:100px;
}

/* Navigation */

 .navigation {
     position:fixed;
     z-index:99999;
     left:0;
     background-color:#000;
     width: 100vh;
     -webkit-transform-origin: left top;
     -moz-transform-origin:    left top;
     -ms-transform-origin:     left top;
     -o-transform-origin:      left top;
     transform-origin:         left top;
     -webkit-transform: rotate(-90deg) translateX(-100%);
     -moz-transform:    rotate(-90deg) translateX(-100%);
     -ms-transform:     rotate(-90deg) translateX(-100%);
     -o-transform:      rotate(-90deg) translateX(-100%);
     transform:         rotate(-90deg) translateX(-100%);
 }

 .navbar { margin-bottom:0px; }

 .navbar-collapse { padding:0; }

 .navbar-default {
     border:0;
     border-radius:0;
     background-color:#222e43;
 }

 .navbar-default .navbar-nav > li > a {
     font-size:13px;
     text-transform:uppercase;
     font-weight:bold;
 }

 ul.nav.navbar-nav { width:100%; }
 ul.nav.navbar-nav > li {
    float:right;
     width:16.6%;
     text-align:center;
 }

 .navbar-default .navbar-nav > li > a {
     color:#ffffff !important;
     cursor:pointer;
 }

 .navbar-default .navbar-nav > li > a:hover,
 .navbar-default .navbar-nav > li > a:focus { background-color:rgba(255,255,255,.1); }

 .navbar-default .navbar-nav > .active > a,
 .navbar-default .navbar-nav > .active > a:hover,
 .navbar-default .navbar-nav > .active > a:focus { background-color:transparent; }

 .navbar-toggle {
    float:none;
    border:none;
 }

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { background-color:transparent; }
.navbar-default .navbar-toggle .icon-bar { background-color:#ffffff; }

.navbar-default .navbar-collapse { border:0px; }

/* Text */

h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
    margin-top:30px;
    margin-bottom:50px;
}
h1, .h1 { font-size:40px; }
h2, .h2 { font-size:30px; }
h3, .h3 { font-size:20px; }
h4, .h4 { font-size:15px; }
.section-secondary > h2 {
    color:#ffffff;
    text-shadow:1px 1px rgba(0,0,0,.5);
}

.skew {
    -webkit-transform: skewX(-12deg);
    -moz-transform:    skewX(-12deg);
    -ms-transform:     skewX(-12deg);
    -o-transform:      skewX(-12deg);
    transform:         skewX(-12deg);
}

.skew-text{
    -webkit-transform: skewX(12deg);
    -moz-transform:    skewX(12deg);
    -ms-transform:     skewX(12deg);
    -o-transform:      skewX(12deg);
    transform:         skewX(12deg);
}

.title .skew{
    background-color:  #4bb3aa;
    display: inline-block;
    padding: 20px;
    margin-top:100px;
    color:#ffffff;
}

.btn .skew{
    display: inline-block;

}

.title {
    text-transform:uppercase;
    -webkit-transform: translateY(-5rem);
    -moz-transform:    translateY(-5rem);
    -ms-transform:     translateY(-5rem);
    -o-transform:      translateY(-5rem);
    transform:         translateY(-5rem);
}

p {
    font-size:15px;
    line-height:25px;
    margin-bottom:60px;
    color:#141414;
}

span.highlight {
    color:#4bb3aa;
}

/* Buttons */

.btn {
    text-transform:uppercase;
    padding:10px 20px;
    border-radius:0;
    border-width:2px;
    margin-bottom:15px;
    margin-right:15px;
    font-weight:bold;
}
.btn-primary {
    background-color:#4bb3aa;
    border-color:#4bb3aa;
}
.btn-primary:hover,
.btn-primary:focus {
    background-color:#ffffff;
    border-color:#4bb3aa;
    color:#4bb3aa;
}

.btn-default {
    background-color:#ffffff;
    border-color:#adadad;
    color:#adadad;
}
.btn-default:hover,
.btn-default:focus {
    background-color:#adadad;
    color:#ffffff;
}

.icon {
    display:inline-block;
    border-radius:50%;
    font-size:25px;
    text-align:center;
    height:100px;
    width:100px;
    margin-right:30px;
    padding-top:30px;
    margin-bottom:20px;
}
.icon-primary {
    background-color:#4bb3aa;
    color:#ffffff;
}
.icon-default {
    background-color:#ffffff;
    color:#4bb3aa;
    font-size:22px;
    padding-top:15px;
    height:60px;
    width:60px;
}

/*=================
Media Queries / Desktop First
=================*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px), @media only screen and (max-height : 700px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

    body { padding-left:0px; }

    .navigation {
        -webkit-transform: none;
        -moz-transform:    none;
        -ms-transform:     none;
        -o-transform:      none;
        transform:         none;
    }

    .section { padding:80px 30px; }
    ul.nav.navbar-nav > li { width:100%; }
    .navigation { width:100%; }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

    header, footer { padding:80px 30px; }
    .section { padding:80px 30px; }

    h1 { font-size:30px; }
    h2 { font-size:20px; }
    h3 { font-size:20px; }

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
